* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 80vw; 
    min-height: 70vh; 
    font-family: 'Montserrat', sans-serif;
}

form {
    margin-top: 10px;
}

.contact-form {
    padding: 10px;
    width: 600px;
    background-color: #174c6a;
    border-radius: 7px;
}

.contact-box {
    display: flex;
    flex-direction: column;
    margin: 5px 0;
}

.contact-form label {
    margin-bottom: 10px;
    font-size: 18px;
}

.contact-box input {
    padding: 0px;
    font-size: 16px;
    border: 1px solid rgb(197, 197, 197);
}

.contact-box.error input {
    border: 1px solid rgb(255, 110, 110);
    background-color: rgba(0, 137, 250, .1);
}

.contact-box .error-text {
    visibility: hidden;
    margin: 5px 0 0 5px;
    font-size: 14px;
    color: rgb(255, 110, 110);
}

.contact-box.error .error-text {
    visibility: visible;
}

.contact-form input,
.contact-form textarea, 
.contact-form button {
    padding: 7px;
    font-size: 16px;
    font-family: inherit;
    border: 2px solid hsl(323, 15%, 50%);
    border-radius: 5px;
}

.contact-form textarea {
    resize: vertical;
    min-height: 200px;
}

.control-buttons {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px;
}

#send { 
    background-color: hsla(191, 100%, 25%, 0.903);
}
#send:hover {
    color: #fff;
    background-color: hsla(119, 100%, 40%, 0.9);
}
#send:active {
    background-color: hsla(119, 100%, 40%, 0.9);
    transition: background-color 0.1s;
}
#clear { 
    background-color: hsla(191, 100%, 25%, 0.903);
}
#clear:hover {
    color: #fff;
    background-color: hsla(0, 100%, 50%, 0.9);
}
#clear:active {
    background-color: hsla(0, 100%, 50%, 0.9);
    transition: background-color 0.1s;
}
/*
#back { 
    /* background-color: hsla(191, 100%, 25%, 0.903);
    position: relative;
    margin-left: 20px;
}
#back:hover {
    color: #fff;
    background-color: hsla(135, 100%, 25%, 0.93);
}
#back:active {
    background-color: hsla(0, 100%, 50%, 0.9);
    transition: background-color 0.1s;
}
*/
#send { 
    background-color: hsla(191, 100%, 25%, 0.903);
}
#send:hover {
    color: #fff;
    background-color: hsla(119, 100%, 40%, 0.9);
}
#send:active {
    background-color: hsla(119, 100%, 40%, 0.9);
    transition: background-color 0.1s;
}

.send,
.clear,
.close,
.back {
    display: block;
    padding: 10px 0;
    margin: 10px;
    width: 100px;
    font-size: 18px;
    font-weight: bold;
    background-color: hsla(191, 100%, 25%, 0.903);
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color .3s;
}
.back:hover {
    color: #fff;
    background-color: hsla(135, 100%, 15%, 0.93);
}

.back a:hover {
    text-decoration: none;
}

.sendMsg {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    top: -300px;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 660px;
    height: 200px;
    background-color: hsla(191, 100%, 25%, 0.903);
    transition: top .5s;
}

.sendMsg p {
    font-size: 28px;
    text-align: center;
}

.sendMsg button {
    visibility: hidden;
    margin-top: 20px;
    background-color: aquamarine;
    color: black;
}

.show-sendMsg {
    top: 150px;
}
#policy {
    position: absolute;
    justify-content: center;
    text-align: center;
    margin-top: 90px;
    color: #174c6a;
}
.hide {
	display: none;
}
.cookie-box {
    position: fixed;
    bottom: 20px;
    margin: 5px 10px;
    width: 400px;
    background-color: #cecece;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    opacity: 0.7;
    z-index: 1000;
}

.cookie-box:hover {
    opacity: 1;
}

.cookie-box a {
    text-decoration: none;
    color: hsla(191, 100%, 25%, 0.903);
}
.cookie-box a:hover {
    color: rgb(0, 115, 255);
}

.cookie-btn {
	padding: 12px 30px;
	border: none;
	outline: none;
	background-color: hsla(191, 100%, 25%, 0.903);
    color: #fff;
	font-size: 16px;
	font-weight: 400;
	border-radius: 5px;
	cursor: pointer;
    margin-right: 10px;
    width: 130px;
	transition: all 0.3s ease;
}

.accept-btn {
    background-color: hsla(191, 100%, 25%, 0.903);
    color: white;
    margin-top: 10px;
}
.cancel-btn {
    background-color: hsla(191, 100%, 25%, 0.903);
    color: white;
}
.cancel-btn:active {
    background-color: hsla(0, 100%, 50%, 0.9);
    transition: background-color 0.1s;
}
.cancel-btn:hover {
    color: #fff;
    background-color: hsla(0, 100%, 50%, 0.9);
}
.accept-btn:active {
    background-color: hsla(119, 100%, 40%, 0.9);
    transition: background-color 0.1s;
}
.accept-btn:hover {
    color: #fff;
    background-color: hsla(119, 100%, 40%, 0.9);
}