html, 
body { 
    border: 0; margin: 0; padding: 0; 
}

.contact-form {
    width: 400px;
}

.sendMsg {
    width: 440px;
}

.contact-form label {
    font-size: 17px;
}

.contact-box input {
    padding: 5px;
    font-size: 15px;
}

.contact-form textarea {
    min-height: 180px;
}