.message-image {
    width: 260px;
    height: 260px;
}

.home-image {
    display: flex;
    justify-items: center;
    text-align: center;
    margin-top: 140px;
    margin-left: auto;
    margin-right: auto;
    max-width: 40vw;
}
@media screen and (max-width: 900px) {
    .home-image {
        margin-top: 0;
        max-width: 55vw;
    }
    
}
@media screen and (max-width: 768px) {
    .home-image {
        margin-top: 0;
        max-width: 65vw;
    }
}