#container *
{
    padding: 5px;
}
.navbar ul {
    width: 100%;
}

@media (max-width: 850px) {

    .navbar ul {
        width: 100%;
    }
    .navbar ul li a {
        font-size: 0.9rem;
    }
    #container {
        grid-template-areas: 
        "header"
        "nav"
        "article"
        "footer";
        grid-template-rows: 1fr 1fr 5fr 1fr;
        grid-template-columns: 2fr;
    }
    #container article
    {
        display: grid;
        grid-area: article;
        grid-template-columns: 1fr 1fr;
    }
    #container article img 
    {
        width: 350px;
        /* background-size: contain; */
        /* justify-content: center; */
    }
    
    .message {
        font-size: 1rem;
    }
} 