
.main-text {
    font-size: 1.3rem;
}
.main-text a {
    font-style: italic;
    color: aqua;
}
.message-image {
    display: block;
    margin: 50px auto;
    max-width: 50vw;
}

@media screen and (max-width: 768px) {
    .message-image {
        margin: 0 auto;
        max-width: 280px;
    }
}
