
.main-text {
    font-size: 1.5rem;
}
.main-text a {
    font-style: italic;
    color: aqua;
}
.message-image {
    display: block;
    margin: 20px auto;
    max-width: 450px;
}

@media (min-width: 1400px) {
    .message-image {
        max-width: 350px;        /* zmniejszenie max-width dla dużych ekranów */
    }
}

@media screen and (max-width: 768px) {
    .main-text {
        font-size: 1.3rem;
    }
    .message-image {
        margin: 0 auto;
        max-width: 260px;
    }
}
