
.main-text {
    font-size: 1.3rem;
}
.main-text a {
    font-style: italic;
    color: aqua;
}
.message-image {
    display: block;
    margin: 20px auto;
    max-width: 350px;
}

@media screen and (max-width: 768px) {
    .message-image {
        margin: 0 auto;
        max-width: 260px;
    }
}
